<form action="/trainers/<%= @trainer.id %>" method="post">

<label for="name-field">Name</label>
  <input
    type="text"
    name="name"
    id=name-field
    value="<%= @trainer.name %>"
    />

  <input type="submit" value="Edit Trainer">
</form>
