<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Monster Shelter</title>
    <link rel="stylesheet" href="/styles/layout.css">
  </head>
  <body>

<nav>
  <ul>
    <li>
      <a href="/">Monster Breeder(?)</a>
    </li>
    <li>
      <a href="/trainers">View Trainers</a>
      <a href="/trainers/new">Warp in a New Trainer</a>
    </li>
    <li>
      <a href="/monsters/index">Warp Gate</a>
    </li>
  </ul>
</nav>

<main>
  <%= yield %>
</main>

<footer><p>Names, characters, businesses, places, events, locales, and incidents are either the products of the author's imagination or used in a fictitious manner. Any resemblance to actual persons, living or dead, or actual events is purely coincidental.</p></footer>

  </body>
</html>
