<h1>Monsters</h1>

<p> <a href="/monsters/new">Spawn Monster</a> </p>

<% for monster in @monsters %>
<hr />
<p> <%= monster.name() %></p>
<% end %>
<hr />

<p> <a href="/monsters/assign">Assign Trainer</a> </p>
