<h1>Warp Gate</h1>
<p>Here you can find all currently available monsters to catch.</p>

<p> <a href="/monsters/new">Spawn Monster</a> </p>

<% for monster in @monsters %>
<hr />
<p> <%= monster.name() %></p>
<% end %>
<hr />

<p> <a href="/monsters/assign">Catch a Monster</a> </p>
