<form action="/monsters" method="post">

  <label for="New-monster-name-field">House</label>
 <select name="name" id=New-monster-name-field>
   <option value="" diabled selected>Choose</option>
   <option value="Slime">Slime</option>
   <option value="Wing slime">Wing slime</option>
   <option value="Drak Slime">Drak Slime</option>
   <option value="Box Slime">Box Slime</option>
 </select>

 <input type="submit" value="Create New Monster">
</form>
